<div class="min-h-screen flex flex-col justify-center items-center bg-black text-white relative z-10">
  <h1 class="text-4xl font-[Jetbrains] mb-1">
    <span #typedElement id="typed"></span>
  </h1>
  <a id="portfolioText" (click)="navigateToHome()"
    class="group flex items-center text-lg font-[Jetbrains-Italic] mb-8 text-gray-400 opacity-0 transition-opacity duration-1000 pb-2">
    <span class="mr-2 font-[Jetbrains-Italic]">my web portfolio</span>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 transform transition-transform duration-300 group-hover:translate-x-2"
      fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5 12h14l-4-4m4 4l-4 4" />
    </svg>
  </a>
</div>
