<div class="min-h-screen flex flex-col justify-center items-center bg-black text-white">
  <h1 class="text-4xl font-[Jetbrains] mb-1">
    <span #typedElement id="typed"></span>
  </h1>
  <p id="portfolioText"
    class="text-lg font-[Jetbrains-Italic] mb-8 text-gray-400 opacity-0 transition-opacity duration-1000 pb-2">
    my web portfolio
  </p>

  <a id="portfolioText2" href="/home" class="text-white flex items-center group opacity-0 transition-opacity duration-1000">
    <span  class="mr-2 font-[Jetbrains] transition-transform duration-300 group-hover:translate-x-2">continue</span>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 transition-transform duration-300 group-hover:translate-x-2"
      fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5 12h14l-4-4m4 4l-4 4" />
    </svg>
  </a>


</div>
